/*.typeahead,
	.tt-query,
	.tt-hint {
		padding-left: 10px;
}

.typeahead {
	background-color: #fff;
}

.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
	color: #999;
	z-index: -3 !important;
}

.tt-menu {
	display: none !important;
	cursor: hand;
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 0px;
	padding: 8px 0;
	width: 500px !important;
	text-overflow: ellipsis; 
}

.tt-suggestion {
	text-overflow: ellipsis; 
	color: black !important;
	padding: 3px 20px;
	font-size: 18px !important;
	line-height: 20px !important;
}

.tt-suggestion:hover {
	font-weight: bolder;
	background-color: #CCCCCC;
}


.tt-suggestion.tt-cursor {
	font-weight: bolder;
	background-color: #CCCCCC;
}


.tt-suggestion p {
	margin: 0;
}
.tt-highlight{
	color:red;
}*/

.expand-links{
	top: -5px;
	position: relative;
}
.azm-circle{
	top: -5px;  
}

span.link-text{
	padding-top: 3px;
}

span.time-mins{
	font-weight: normal;
}

input[type="text"] {
	font-size: 14pt;
	display: inline-block;
	font-family: "Lato";
	font-weight: 100;
	border: none;
	border-bottom: 1px solid #BBB;
	outline: none;
	color: #555;
}

input[type="text"]:focus:hover {
	border-bottom: 1px solid #BBB;
	width: 100%;
}

input[type="text"]:focus {
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid #BBB;
}

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

.time-container{
	padding-right: 8px;
}
.favIcon-container{
	padding-right: 8px;
}
.pause-fetch-container{
	position: relative;
	top: 5px;
	height: 45px;
}

.list-item{
	padding: 7px !important;
	padding-bottom: 3px !important;
	left: 15px;
	border-bottom:1px solid rgba(102, 102, 102, 0.15) ;
}

.top-links-view{
	top: 45px;
}
.search-box-textarea{
	background-color: #cbcbcb !important;
}

button.search-button-icon{
	z-index: 3;
	height: 35px;
	border:none;
	background: url("./icons/search.png") center no-repeat  #FFF !important;
}

body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	font-size: 100%;
	/*background-color: #ECEAE0;*/
	color: #63AA9C;
	min-width: 680px;
	height: 480px;
}

html {  
	height: 480px;
}
#status {
	white-space: pre;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 400px;
}

a {
	font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
	color: #00aeef !important;
	text-decoration: none;
}
a:link {
	color: #00aeef;
	text-decoration: none;
}

a:visited {
	color: :#00aeef;
	text-decoration: none;
}

a:hover {
	color: #00aeef;
	text-decoration: underline;
}

a:active {
	color: #00aeef;
	text-decoration: none;
}

a.azm-circle{
	color: #fff !important;
}

.del {
	padding: 5pt !important;
}

button.black-list {
	background-color: #555 !important;
	color: #fff !important;
	font-weight: bolder;
}

#view-heading {
	cursor: hand;
}

li {
	cursor: hand;
}

.time {
	font-size: 22px;
	font-weight: bolder;
	color: black;
	text-decoration: none;
}

.favicon-btn {
	margin-top: 1px;
	height: 20px;
	width: 20px;
}

.toggler {
	top: -10px;
	right: -20px;
	padding: 15px;
	cursor: pointer;
	position: absolute;
	background: #FFF  url(./icons/gear.png) center no-repeat;
}

.toggler-panel{
	right: 30px;
	top: 15px;
}

.theme-options {
	min-width: 100px;
	top: 21px;
	right: -20px;
	cursor: pointer;
	text-align: center;
	display: none;
	position: absolute;
	background: #C0C0C0 ;
	z-index: 10;
	color: white;
	font-weight:bold
}

#top-links-view{
	min-height: 50px;
	max-height: 370px;
	width :678;    
	overflow : auto;
	overflow-x: hidden !important; 
}

::-webkit-scrollbar {
	top: 10px;
	right: 10px;
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #F0F0F0  ; 
}

::-webkit-scrollbar-thumb {
	background: #D3D3D3; 
}

.sign-in{
	position: relative;
	left: 100px;
}

.clickable {
	cursor: pointer;
}

.button-gradient {
	background: #f1247b; /* Old browsers */
	background: -moz-linear-gradient(left, #f1247b 0%, #943c94 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f1247b 0%,#943c94 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f1247b 0%,#943c94 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1247b', endColorstr='#943c94',GradientType=1 );
}

