<div>
	<style scoped>
		.row {
			padding-top: 5px;
		}
	</style>
	<div class="row">
		<div class="col-xs-12">
			<button class="new-comment-button btn btn-success pull-right"><i class="fa fa-pencil"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="new-comment-form form-group">
				<textarea class="form-control" rows="5" placeholder="enter comment here"></textarea>
				<button class="save btn btn-sm btn-success pull-right">SEND</button>
				<button class="cancel btn btn-sm btn-default pull-right">CANCEL</button>
			</div>	
		</div>
	</div>
	<div class="collection-comment-list row"></div>
</div>
