<div>
	<style scoped>
		.collection-comment-body {
			padding-top: 5px;
			padding-left: 10px;
			overflow-x: hidden;
			overflow-y: auto;
			height: 61%;
		}
	</style>
	<div class="collection-comment-body row">
		<div class="collection-comment-list"></div>
	</div>
	<div class="new-comment-body">
		<div class="col-xs-12">
			<div class="new-coment-form form-group">
				<textarea class="form-control" rows="2" placeholder="enter comment here"></textarea>
				<button class="save btn btn-sm btn-success pull-right">SEND</button>
				<!-- <button class="cancel btn btn-sm btn-default pull-right">CANCEL</button> -->
			</div>	
		</div>
	</div>
</div>
