<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="shareCollectionModal">
	<style scoped>
		center {
			min-height: 10px;
		}
		.accept {
			margin-left: 10px;
		}
		.note {
			color: #898989;
			font-size: x-small;
			margin-left: 5px;
		}
		.title {
			color: #111111;
			font-size: small;
			font-weight: bold;
			text-align: middle;
		}
		.badge {
			font-size: 7pt;
			margin-top: -2px;
		}
	</style>
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="title" id="modalTitle">{{ user.email }} wants to share</div>
			</div>
			<div class="modal-body">
				<center><div class="badge" style="background-color: {{ collection.color }}">&nbsp;</div> {{ collection.name }}</div></center>
				<div class="row">
					<center>
						<button class="reject btn btn-sm btn-danger">REJECT</button>
						<button class="accept btn btn-sm btn-success">ACCEPT</button>
					</center>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<center>
							<span class="status">
								<i class="fa fa-refresh fa-spin fa-lg"></i>
								<label></label>
							</span>
						</center>
					</div>
					<div class="note col-xs-12">
						Note: By clicking on accept you are now a coowner of the collection with full privileges
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
